:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FF6F61;
    --danger-color: #FF6347;
    --light-color: #F9F9F9;
    --dark-color: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #343a40;
    height: 100vh;
    background-color: #EFEFEF;

    display: grid;
    grid-template-columns: 300px 1fr 200px;
    grid-template-rows: 80px 1fr 80px;
}

nav {
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-buttons {
    display: flex;
    gap: 12px;
}

.right-buttons {
    display: flex;
    gap: 12px;
    margin-left: auto; /* Add this line */
}

nav button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
}

nav button a {
    text-decoration: none;
}

nav button.auth-button {
    background-color: var(--danger-color);
}

main {
    grid-column: 1 / 3;
    overflow: scroll;
    padding: 10px 20px;
}

aside {
    grid-column: 3 / -1;
    background-color: var(--light-color);
    text-align: center;
}

aside .in-aside {
    padding: 20px;
}

footer {
    background: var(--secondary-color);
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; /* Ajustez la taille selon vos besoins */
}

